:host {
  display: flex;
  height: 10rem;

  >a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  img {
    width: 15rem;
    height: 100%;
    object-fit: contain;
    object-position: center;
    background-color: rgb(221, 221, 221);
  }

  img.no-image {
    object-fit: cover;
  }

  .card-info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    .details {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      h3, p {
        margin: 0;
        margin-left: 1rem;
        padding: .3rem 0;
      }
    }

    .date-wrapper {
      padding: .3rem 0;
    }
  }
}
