<main class="content">
  @if (error()) {
    <h2>Denna ad existerar inte</h2>
    <a routerLink="/adverts">
      <p-button label="Se annonser"/>
    </a>
  }

  @if(ad(); as ad) {
    <br>
    <br>
    @if (adPhotos(); as adPhotos) {
      <div class="card galleria">
        <p-galleria [value]="adPhotos" [numVisible]="5" [circular]="true" [showItemNavigators]="adPhotos.length !== 1" [showThumbnails]="false"  [containerStyle]="{ 'max-width': '640px' }">
            <ng-template pTemplate="item" let-item>
                <img [src]="item.itemImageSrc" style="width: 100%; display: block;" />
            </ng-template>
        </p-galleria>
      </div>
    }

    <br>

    <small>Inlagd {{ad?.createdAt | date: 'medium' }}</small>
    <h1 style="font-weight: 600;">{{ad?.title}}</h1>
    <h2>{{ad?.price}} kr</h2>
    <br>
    <h3>Beskrivning</h3>
    <p>{{ad?.description}}</p>

    @if (ad?.owner; as owner) {
      <br>
      <p-divider />
      <h3>Säljes av:</h3>
      <div class="owner-wrapper">
        <p-avatar icon="pi pi-user" styleClass="mr-2" size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle"/>
        <h4 style="margin-left: .5rem;">{{owner.firstname}} {{owner.lastname}}</h4>
      </div>
      <br>
    }
  }
</main>
