html, body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.wrapper {
  width: 100%;
  padding: 0 5%;

  .content {
      margin: 0 auto;
      width: 100%;
      max-width: 1150px;
      height: auto;
  }
}

 $red: rgb(190, 24, 24);

.c-red {
  color: $red;
}

.c-blue {
  color: var(--primary-color);
}
